TELEGRAM_TOKEN=your_bot_token_here
#WEBHOOK_URL=https://your-domain.com/webhook
#WEBHOOK_SECRET=your_webhook_secret_here
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here

ENVIRONMENT=dev # or prod
DEFAULT_LANG=en
DOWNLOAD_TIMEOUT=5m
HTTP_ADDRESS=:2000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=clipharborbot_db
